h1 {
  text-align: center;
  position: relative;
  bottom: 25px;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.top li {
  display: inline;
  margin: 0 50px;
  position: relative;
  bottom: 30px;
}
.temp {
  text-align: center;
  position: relative;
  bottom: 30px;
}
.weather-top {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border: 2px solid #d8dcff;
  border-radius: 5px;
}
.bottom li {
  display: inline;
  margin: 0 50px;
  position: relative;
}
#humidity {
  right: 30px;
}
#date {
  right: 30px;
}

#mainIcon {
  width: 100px;
}
#mainTemp {
  font-size: 60px;
}
#topTemp {
  position: relative;
  top: 3px;
  left: 3px;
}
#description {
  text-transform: capitalize;
}
#units {
  position: relative;
  font-size: 16px;
  top: -30px;
}
