body {
  background: radial-gradient(ellipse at top, #f4d6de, transparent),
    radial-gradient(ellipse at bottom, #9198e5, transparent);
  text-align: center;
}

h1 {
  text-align: center;

  /*position: relative;
  bottom: 25px;*/
  font-family: "Paradise Garden Personal Use", sans-serif;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.top {
  padding: 0;
  margin-top: 16px;
}
.ul-bottom {
  padding: 0;
  margin: 0;
}
.top li {
  display: inline;
  margin: 0 30px;
  padding: 0;
  font-family: "Quiny", sans-serif;
  font-size: 25px;
  /* position: relative;
  bottom: 30px;*/
}
.temp {
  text-align: center;
  /* position: relative;
  bottom: 30px;*/
}
.weather-whole-border {
  max-width: 700px;
  margin: 50px auto;
}
.weather-top {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #9198e5;
  border-radius: 10px;
  background: radial-gradient(#f4d6de, #9198e5);
  box-shadow: 7px 6px 20px rgba(0, 0, 0, 0.2);
}
.bottom li {
  display: inline;
  margin: 0 20px;
  position: relative;
}
.active {
  color: black;

  cursor: default;
}
.active:hover {
  color: blueviolet;
}
.hum-wind {
  padding: 16px;
  font-family: "Quiny", sans-serif;
  font-size: 20px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
}
.weather-margin {
  margin: 50px auto;
}
.details {
  border: 2px solid #f4d6de;
  margin: 10px;
  padding: 2px;
  box-shadow: inset -5px -17px 24px rgba(0, 0, 0, 0.1);
  background: #f4d6de;
  font-size: 25px;
  border-radius: 20px;
  font-family: "Quiny", sans-serif;
}
.plug {
  font-family: "Quiny", sans-serif;
  display: block;
  text-align: center;
  font-size: 15px;
}
.link {
  text-decoration: none;
}
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
div.form {
  display: block;
  text-align: center;
}
#date {
  right: 30px;
}

#mainIcon {
  width: 100px;
}
#mainTemp {
  font-size: 55px;
  font-family: "Cyrano", sans-serif;
}
#topTemp {
  position: relative;
  top: 3px;
  left: 3px;
}
#description {
  text-transform: capitalize;
}
#units {
  position: relative;
  font-size: 16px;
  top: -30px;
  font-family: "Quiny", sans-serif;
  font-size: 30px;
}
#celsius {
  text-decoration: none;
}
#fahrenheit {
  text-decoration: none;
}
#button {
  background: #9198e5;
  border: none;
  border-radius: 3px;
  font-family: "Quiny", sans-serif;
  font-size: 25px;
  padding: 1px 30px;
}
